@(message: String)

@main("Welcome to Play") {


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Fill the form</h3>
    </div>
    <div class="row logo">
        <div class="col col-md-100">
            <i class="fa fa-user fa-4x center "></i>
        </div>
    </div>
    <div class="panel-body infos">
        <div class="col col-100">
            <form class="form-horizontal" no-validate>
                <div class="form-group">
                    <label for="inputEmail3" class="col-md-1 control-label"><i class="fa fa-twitter fa-3x"></i></label>
                    <div class="col-md-10">
                        <input type="email" class="form-control"     id="inputEmail3" placeholder="Enter your twitter link">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-md-1  control-label"><i class="fa fa-facebook fa-3x"></i></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Enter your facebook link">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-md-1 control-label"><i class="fa fa-linkedin fa-3x"></i></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPassword3" placeholder="Enter your linkedin link">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button ng-click="getReputation('dede')" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Search Result</h3>
    </div>
    <div class="row logo">
        <div class="col col-md-100">
            <i class="fa fa-refresh fa-4x center "></i>
        </div>
    </div>
    <div class="panel-body infos">
        <h1  style="text-align:center;"> Reputation </h1>
        <div style="text-align:center;"><p>{{reputation}}<p></p></div>
    </div>
</div>


}
